 /*color variables */
 :root {
  --dark: black;
  --light: wheat;
  --hoverColor: red;
}

 /* Define body default colors */
 body {
  background: var(--light);
  color: var(--dark);
}

 /* Define header display, spacing, alignment, padding, and colors */

 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
  padding: 10px 20px;
}

/* Set paragraph padding spacing */
 p {
  padding-top: 10px;
}

 /* Assign larger font size, spacing and inverse colors to headings */
 h1 {
  font-size: 48px;
  width: 450px;
  margin: 10px 0px 10px 0px;
  padding-right: 5px;
  background-color: var(--light);
  color: var(--dark);
  text-align: right;
}

/* Set navigation spacing and format */
 nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 500px;
  padding-right: 100px;
}

 /* Set navigation link font size, and allow for scroll transition */
 nav a {
  color: var(--light);
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

 /* set smooth scroll transition for links */
 html,
body {
  scroll-behavior: smooth;
}

 /* create line under navigation links */
 nav a:after {
  content: "";
  display: block;
  border-bottom: 4px solid var(--light);
  margin-top: 3px;
  margin-left: -10px;
  margin-right: -10px;
}

 /* change navigation line color when hovered over */
 nav a:hover:after {
  border-bottom: 4px solid var(--hoverColor);
}

 /*developer's picture size and format */
 .hero {
  width: 15%;
  height: 25vh;
  background-image: url("../images/recent_photo.jpg");
  background-size: cover;
  background-position: center;
  border-style: solid;
}

 /* define sections in main body to flex and create spacing */
 main section {
  display: flex;
  padding-top: 50px;
}

 /*create spacing and left border for detailed info in right column */
 .detail {
  width: 80%;
  padding-right: 5%;
  padding-left: 5%;
  border-left: solid var(--dark) 10px;
}

 /*set spacing for the first application listed */
 .first_application {
  border-style: solid;
  border-width: 5px;
  margin: 30px;
}

 /*set spacing for the header of the first application listed */
 .first_application header {
  padding: 5px;
}

 /* adjust width for first application image */
 .first_application img {
  width: 100%;
}

 /*create highlighted frame around first application when hovered over */
 .first_application:hover {
  border-style: solid;
  border-width: 10px;
  border-color: var(--hoverColor);
  margin: 30px;
}

 /*set spacing for the other applications listed */
 .application {
  display: inline-flex;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 5px;
  padding: 10px var(--dark);
  margin: 30px;
  width: 40%;
}

 /*set spacing for the header of the other applications listed */
 .application header {
  padding: 10px;
  width: 100%;
}

/* adjust width for other applications images */
 .application img {
  width: 100%;
}

/*create highlighted frame around other applications when hovered over */
 .application:hover {
  border-style: solid;
  border-width: 10px;
  border-color: var(--hoverColor);
  margin: 30px;
}

 /*remove bullets padding and margins for contact info detail */
 .detail ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

 /* change font size and spacing for contact infor detail  */
 .detail li {
  display: inline;
  font-size: 30px;
  margin-right: 100px;
}

 /*changes for responsive layout */
 @media screen and (max-width: 992px) {
  header {
    display: block;
  }
  h1 {
    text-align: left;
  }

  main section {
    display: block;
    padding-top: 30px;
    text-align: center;
  }

  .detail {
    width: 100%;
    border-left: none;
    border-top: solid var(--dark) 5px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
